@charset "utf-8";
/* CSS Document */

.TabbedPanelsTab {
background: rgb(255,187,0);
background: -moz-linear-gradient(top,  rgba(255,187,0,1) 0%, rgba(214,133,57,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,187,0,1)), color-stop(100%,rgba(214,133,57,1)));
background: -webkit-linear-gradient(top,  rgba(255,187,0,1) 0%,rgba(214,133,57,1) 100%);
background: -o-linear-gradient(top,  rgba(255,187,0,1) 0%,rgba(214,133,57,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,187,0,1) 0%,rgba(214,133,57,1) 100%);
background: linear-gradient(top,  rgba(255,187,0,1) 0%,rgba(214,133,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb00', endColorstr='#d68539',GradientType=0 );


}





.TabbedPanelsTabHover {
background: rgb(255,217,113);
background: -moz-linear-gradient(top,  rgba(255,217,113,1) 0%, rgba(232,187,144,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,217,113,1)), color-stop(100%,rgba(232,187,144,1)));
background: -webkit-linear-gradient(top,  rgba(255,217,113,1) 0%,rgba(232,187,144,1) 100%);
background: -o-linear-gradient(top,  rgba(255,217,113,1) 0%,rgba(232,187,144,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,217,113,1) 0%,rgba(232,187,144,1) 100%);
background: linear-gradient(top,  rgba(255,217,113,1) 0%,rgba(232,187,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd971', endColorstr='#e8bb90',GradientType=0 );

}
.TabbedPanelsTabSelected {
	background: rgb(249,249,249);
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 1%, rgba(238,238,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(249,249,249,1)), color-stop(100%,rgba(238,238,238,1)));
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(238,238,238,1) 100%);
background: -o-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(238,238,238,1) 100%);
background: -ms-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(238,238,238,1) 100%);
background: linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(238,238,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 );


}