#about-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about-section {
  padding: 19px 0px;
}

.about-section p {
  font-size: 17px;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}

.team-card {
  background-color: #009688;
  color: #fff;
}

#about-us,
#meet-team,
#faq {
  height: 100%;
  width: 100%;
}
