
#imageareaContent img{
    width:620px; /*change this*/
}


#scrollGalleryHead{
/*has to be postion:relativ or static*/
	margin:0px;
	padding:10px 10px 0px 10px;
	margin-top:10px;
    background-color:#333333;
}

#scrollGalleryFoot{
/*has to be postion:relativ or static*/
	margin:0px;
	padding:10px 18px 10px 18px;
	
    background-color:#333333;
}


#thumbarea{
	overflow: auto; 
	overflow-y: hidden; 
	overflow-x: auto;
	width:100%; 
	margin:0px; 
	padding:0px;
	border-bottom: 4px solid #333333;
}
#thumbareaContent{
	padding-left:0px; 
	padding-right:0px; 
	margin:0px; 
 	white-space: nowrap;       /* important */	
}
#thumbareaContent img{
	padding:0px;
    margin:0px;
	margin-right:8px;
	cursor:pointer;
    border: 3px solid #000000;
}
#imagearea{
	overflow: auto; 
	overflow-y: hidden; 
	overflow-x: auto;
	width:100%; 
	margin:0px; 
	padding:0px;
}
#imageareaContent{
	padding-left:0px; 
	padding-right:0px; 
	margin:0px; 
 	white-space: nowrap;       /* important */
    margin-bottom:-5px;
}
#imageareaContent img{
    margin:0px;
	margin-right:15px;
    border: 3px solid #000000;
}
