/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 */

a {
	text-decoration: none;
	color: #FFFFFF;
	transition: color 0.3s ease;
}	

a:hover {
	color: #0091FB;
}

#menuToggle {
	display: block;
	position: fixed;
	opacity: .9;
	top: 40px;
	left: 50px;
	z-index: 900;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 150%;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 901;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 7px;
	position: relative;
	background: #ffffff;
	z-index: 900;
	transform-origin: 0px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 20px;
	padding-top: 100px;
	background: #1B1B1B;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
	font-weight: 300;
	font-family: "Source Sans Pro";
}

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}