/*Header*/

#banner{
	height: 90px;
}

#bannerfiller{
	height: 90px;
}

header a.logo {
	width: 263px;
	height: 70px;
	top: 7px;
	background-image: url(../images/logo_flat.png);
	background-size: 263px 70px;
}


/*Responsive Table*/
table {
	border: 0;
	width: 90%
}

table thead {
	display: none;
}

table tr {
	margin-bottom: 10px;
	display: block;
	border-bottom: 2px solid #ddd;
}

table td {
      
      text-align: right;
      font-size: 1.1em;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }


/*Body Style*/
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.opening {
	width: 80%;
	font-size: 1.3em;
}

.main {
	width: 80%;
}
.fullbody {
	position: relative;
}

.littlebody {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 3em;
}

/*Thumbnail icons*/
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.columns p {
	padding-left: 14px;
	padding-right: 14px;
}

.thumbnail {
	width: 120px;
	height: 120px;
	margin-left: auto;
}

.thumbnail_align {
	text-align: center;
}



/*Social Media*/
.socialmedia {
	width: 159px;
	float: right;
	padding-top: 14px;
}

.socialmedia_icon {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	float: left;
	padding-right: 7px;
}


/*Alternate Fixed and Scroll Backgrounds*/
.cd-fixed-bg h1, .cd-fixed-bg h2 {
	font-size: 5em;
}
.cd-fixed-bg {
	min-height: 500px;
}

/*Navigation*/
#menuToggle span {
	left: -30px;
	top: -9px;

}

#menuToggle input {
	left: -42px;
	top: -19px;
}