/* bottom center */
#wowslider-container1  .ws_bullets {
	top:0;
    right: 0;
}

#wowslider-container1 { 
	/*overflow: hidden;*/
	zoom: 1; 
	position: relative; 
	width:640px;
	margin:0 auto;
	z-index:100;
}
#wowslider-container1 .ws_images{
	width:640px;
	height:415px;
	overflow:hidden;
	position:relative;
}
#wowslider-container1 .ws_images a{
	color:transparent;
}

#wowslider-container1 .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1 .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1 .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1 .ws_bullets a { 
	margin-left: 5px; 
	height: 10px; 
	width: 10px; 
	float: left; 
	border: 1px solid #B8C4CF; 
	color: transparent; 
	text-indent: 0px; 
	background-image:url("data:image/gif;base64,");
	position:relative;
}
#wowslider-container1 .ws_selbull { 
	background-color: #B8C4CF; 
	color: #FFFFFF; 
}

#wowslider-container1 .ws_bullets a:hover, #wowslider-container1 .ws_overbull { 
	background-color: #dae9f6;
	color: #FFFFFF; 
}

#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	position:absolute;
	display:none;
	top:50%;
	margin-top:-15px;
	line-height:30px;
	z-index:60;
	background-color: #000000; 
	color: #FFFFFF; 
	padding: 0px 10px; 
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#wowslider-container1 a.ws_next{
	right:0;
}
#wowslider-container1 a.ws_prev {
	left:0;
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}



#wowslider-container1 .ws-title{
	position: absolute;
	bottom:0;
	left: 0;
	margin-right:5px;
	z-index: 50;
	background-color:#000000;
	color:#FFFFFF;
	padding:10px 1%;
	width:98%;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	opacity:0.55;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);	
}
#wowslider-container1 .ws-title div{
	padding-top:5px;
	font-size: 12px;
}#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:12px;
	left:-69px;
	visibility:hidden;
	position:absolute;
    border: 2px solid #B8C4CF;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:138px;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	top:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 2px solid #B8C4CF;
}
#wowslider-container1 .ws_bulframe span{
	position:absolute;
}