hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.social {
    padding-left: 10px;
    padding-top: 15px;
}
body {
    padding-top: 90px;
    padding-bottom: 20px;
    background-image:url('grey_wash_wall/grey_wash_wall_@2X.png');
}
.navItem {
    padding-top: 9px;
}
.content {
    background-image:url('ticks/ticks_@2X.png');
    padding: 30px 10px 10px;
}
@media screen and (max-device-width: 480px) {
    .screen-only {
        display: none;
    }
}
@media handheld {
    .screen-only {
        display: none;
    }
}